.About {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  ul {
    list-style: none;
    display: flex;
    li {
      padding: 0.5rem;
      font-size: 3rem;
      i {
        font-size: 20px;
        color: #000000;
      }
    }
  }
}
