.contactForm {
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
    color: var(--black);
  }

  label {
    font-size: 2vmin;
    display: flex;
    align-items: center;
  }

  input,
  textarea {
    padding: 1vmin;
    font-size: 2vmin;
    border: 0.1vmin solid var(--black);
    border-radius: 0.2vmin;
    color: var(--black);
    background-image: none !important; /* prevent lastpass */
    outline: none;
  }

  input:focus {
    border-color: var(--accent);
  }
}
