.NavBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  .title {
    font-size: 2rem;
  }
  .links {
    width: 40vw;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-right: 15vw;
  }
}
